//
//  ConfigSecret.xcconfig
//  Caching
//
//  Created by AMALITECH MACBOOK on 28/04/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
BaseURL = api.unsplash.com/photos/random?count=500
apiKey = dixtqIxMkkn0gBKvye_yGfKHH3dUxemwT_QwBFwYW04
